# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
.venv/
venv/

# ==========================================
# Build / Distribution
# ==========================================

build/
dist/
*.egg-info/
*.spec.bak

# PyInstaller
*.manifest
*.pkg
*.exe.manifest

# ==========================================
# Test
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# IDE
# ==========================================

.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml

.vscode/

# ==========================================
# Windows
# ==========================================

Thumbs.db
Desktop.ini

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Temporary
# ==========================================

*.tmp
*.bak