# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
.venv/
venv/


# ==========================================
# Build / Distribution
# ==========================================

build/
dist/
*.egg-info/
*.spec.bak

# PyInstaller
*.manifest
*.pkg
*.exe.manifest

# Automatisch erzeugte Versionsinformationen
version_info.py


# ==========================================
# Test
# ==========================================

.pytest_cache/
.coverage
htmlcov/


# ==========================================
# IDE
# ==========================================

.idea/
.vscode/


# ==========================================
# Windows
# ==========================================

Thumbs.db
Desktop.ini


# ==========================================
# Logs
# ==========================================

*.log


# ==========================================
# Temporary
# ==========================================

*.tmp
*.bak